.maindiv-about {
  padding: 20px;
}

.about-container {
  text-align: center;
}

.about-header {
  margin-bottom: 20px;
}

.about-title {
  font-size: 60px;
  font-weight: 300;
  margin-top: 50px;
  height: 70px;
  font-family: var(--fontfamilyall);
}

.about-image-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.about-image {
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
